<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>clientID</key>
    <string>350736449780-jdq6jll8nm6kpiq267saoa0qt9dmnli1.apps.googleusercontent.com</string>
    <key>callbackScheme</key>
    <string>com.googleusercontent.apps.350736449780-jdq6jll8nm6kpiq267saoa0qt9dmnli1</string>
</dict>
</plist>
